.bgvue {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    z-index: -1;
    overflow: hidden;
}

.bgvue img {
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
}